body, html, main { min-height: 100%; min-width: 100% ; width: 100%; height: 100%; font-style:"Comic Sans MS", cursive, sans-serif}

main{
  font-family: "Comic Sans MS", cursive, sans-serif;
}

body{
  background-color: #ecf0f1;
}

#sect2{
  width:100%
}

section > * {
  display: inline-block;
  background-color: #c5eff7;
  flex-grow: 1;
  border: 0.5rem solid white;
  box-sizing: border-box;
  padding: 1rem;
  width:100%
}

section{
  display: flex ; width: 100%
}

#info > * {
  display: block;
  font-size: large;
}

#share{
  width:50%;
}

#info{
  text-align: center;
}

#weather{
  font-size: large;
  display: block;
}

#weatherinfo{
  flex-grow: 1;
  height: 18px;
}

.weathertime{
  box-sizing: border-box;
  padding: 0.25rem;
}

#weatherdata li{
  font-size:21px;
}

#backlink {
  text-decoration: none;
  text-align: center;
  color: black;
}

#backdiv{
  border-radius: 25px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #D2D7D3;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#weatherdata{
  flex-grow: 3;
}

#calenheader{
  text-align: center;
}

#calendardiv{
  width:100%;
  text-align: center;
}

.calendar{
margin-left: auto;
margin-right: auto;
}

#calendiv{

  width:100%;
  float: left;
}

#calendiv > *{
  background-color: #FF00FF;
}

#calenpadl{
  width: 10%;
}

#calenpadr{
  width: 10%;
}

#cloud_img{
  flex-grow: 1;
}

#maps{
  display: inline;
  background-color: #c5eff7;
  font-size: large;
  width:100%
}

#map{
  height: 550px;
  width: 100%;
}
